<template data-controller-name="view.App" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.App" data-default-transition-name="slide" data-background-color="" data-background-image="" id="theApp">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="cssfiles" data-value="css/CustomStyles.css">
			</div>
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="theme" data-value="sap_bluecrystal">
			</div>
		</div>
		<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="homePageView" data-view-name="view.HomePage"></div>
		<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="CurOverviewGraph" data-view-name="view.CurOverviewGraph"></div>
		<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="balist" data-view-name="view.balist"></div>
		<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="ba_detail_graph" data-view-name="view.ba_detail_graph"></div>
		<div data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="Bankbalance" data-view-name="view.Bankbalance"></div>
			<div  data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="newpwdauth" data-view-name="view.newpwdauth"> </div>
			<div  data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="newpayslip" data-view-name="view.newpayslip"> </div>
			<div  data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="scanbarcode" data-view-name="view.scanbarcode"> </div>
			<div  data-sap-ui-type="sap.ui.core.mvc.HTMLView" id="approval" data-view-name="view.approval"> </div>
	</div>
</template>