<template data-controller-name="view.balist" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="Select Location" data-nav-button-text="Back" data-icon="" data-show-footer="false" id="balist">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22%22%7D">
			</div>
		</div>
		<div data-sap-ui-type="sap.apb.SuperList" data-height="148px" data-metadata-file="view/balist.slmeta" data-width="335px" data-read-rows="3" id="basuperlist" data-row-focus-changed="rowfocuschange" data-item-changed="baitemchanged">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A335px%3Bheight%3A148px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A-7px%3Btop%3A289px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.RadioButton" data-selected="true" data-group-name="ba_rb_grp" data-text="My Location" id="RadioButton1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A0px%3Btop%3A21px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.RadioButton" data-group-name="ba_rb_grp" data-text="Other Locations" id="RadioButton2">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A94px%3Btop%3A61px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="ShowCashPosition" data-width="229px" data-icon="" data-active-icon="" id="showcashpos" data-press="shwcashpos_bp">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A46px%3Btop%3A178px%3Bz-index%3A10%3Bwidth%3A229px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.RadioButton" data-group-name="ba_rb_grp" data-text="Global" data-width="100%" id="rb_global">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A194px%3Btop%3A21px%3Bz-index%3A10%3Bwidth%3A126px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Select" data-name="" data-width="138px" data-title="BA List" data-selected-key="0120" data-selected-item-id="__item123" id="Select1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A91px%3Btop%3A95px%3Bz-index%3A10%3Bwidth%3A138px%3B%22%7D">
				</div>
			</div>
			<div data-sap-ui-type="sap.ui.core.Item" data-text="0120 - Denmark" data-key="0120" id="">
			</div>
			<div data-sap-ui-type="sap.ui.core.Item" data-text="0456 - USA" data-key="0456" id="">
			</div>
			<div data-sap-ui-type="sap.ui.core.Item" data-text="0204 - India" data-key="0204" id="">
			</div>
			<div data-sap-ui-type="sap.ui.core.Item" data-text="0006 - Afganistan" data-key="0006" id="">
			</div>
			<div data-sap-ui-type="sap.ui.core.Item" data-text="0291 - Angola" data-key="0291" id="">
			</div>
			<div data-sap-ui-type="sap.ui.core.Item" data-text="0525 - Switzarland" data-key="0525" id="">
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="DemoRuntimeWScall " data-width="192px" data-enabled="false" data-visible="false" data-icon="" data-active-icon="" id="Button2" data-press="demowspress">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A73px%3Btop%3A386px%3Bz-index%3A10%3Bwidth%3A192px%3Bheight%3A36px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="OtherApps" data-width="154px" data-icon="" data-active-icon="" id="Button3" data-press="showmypspress">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A-8px%3Btop%3A232px%3Bz-index%3A10%3Bwidth%3A154px%3Bheight%3A40px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="FC  Approval(Fiori)" data-width="191px" data-icon="" data-active-icon="" id="Button4" data-press="fcapproval">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A154px%3Btop%3A232px%3Bz-index%3A10%3Bheight%3A40px%3Bwidth%3A191px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>