<template data-controller-name="view.Bankbalance" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="Bank Balances" data-nav-button-text="Back" data-enable-scrolling="false" data-icon="" data-show-footer="false" id="Bankbalance">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22color%3A%23ff4c30%3B%22%7D">
			</div>
		</div>
		<div data-sap-ui-type="sap.apb.makit.Chart" data-height="345px" data-metadata-file="view/Bankbalance.mameta" data-width="300px" id="bankbal">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A300px%3Bheight%3A345px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A10px%3Btop%3A52px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Text" data-text="INDIA" data-text-align="Center" data-width="102px" data-max-lines="0" id="cntryname">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bwidth%3A102px%3Bheight%3A32px%3Bposition%3Aabsolute%3Bleft%3A8px%3Btop%3A16px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="ViewPayables" data-width="143px" data-icon="" data-active-icon="" id="payablebutton" data-press="vp_button_pressed">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A178px%3Btop%3A0px%3Bz-index%3A10%3Bwidth%3A143px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>