<template data-controller-name="view.CurOverviewGraph" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="CurOverviewGraph" data-nav-button-text="Back" data-enable-scrolling="false" data-icon="" data-show-footer="false" id="CurOverviewGraph">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22%22%7D">
			</div>
		</div>
		<div data-sap-ui-type="sap.apb.makit.Chart" data-height="402px" data-line-thickness="2" data-metadata-file="view/CurOverview.mameta" data-width="320px" id="curoverview" data-doubletap="overview_dt" data-tap="overview_tap">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A320px%3Bheight%3A402px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A0px%3Btop%3A35px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Label" data-design="Bold" data-text="Tap on bar to drill down" data-text-align="Center" data-width="183px" id="Heading">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22left%3A74px%3Btop%3A4px%3Bheight%3A24px%3Bwidth%3A183px%3Bcolor%3A%23ff3112%3Bmin-width%3A16px%3Bmin-height%3A16px%3Bposition%3Aabsolute%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>