<template data-controller-name="view.HomePage" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="UNICEF Cash Position" data-nav-button-text="Back" data-icon="" data-show-footer="false" id="homePage">
		<div data-sap-ui-type="sap.m.Input" data-value="" data-width="170px" data-name="" data-placeholder="UserID" data-value-state-text="" id="iuserid">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bwidth%3A170px%3Bposition%3Aabsolute%3Bleft%3A94px%3Btop%3A67px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Input" data-value="" data-width="171px" data-name="" data-placeholder="password" data-type="Password" data-value-state-text="" id="ipassword">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bwidth%3A171px%3Bposition%3Aabsolute%3Bleft%3A94px%3Btop%3A127px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="Sign In" data-width="" data-icon="" data-active-icon="" id="signin" data-press="buttonpressed">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A96px%3Btop%3A193px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Image" data-src="img/unicef1.jpg" data-width="32px" data-height="32px" data-alt="" data-use-map="" id="Image1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A32px%3Bheight%3A32px%3Bposition%3Aabsolute%3Bleft%3A151px%3Btop%3A13px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Text" data-text="Sign In using your SAP ID and Password" data-text-align="Center" data-width="306px" data-max-lines="0" id="loginresult">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22left%3A6px%3Btop%3A267px%3Bheight%3A72px%3Bwidth%3A306px%3Bcolor%3A%23ff4133%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>