<template data-controller-name="view.newpwdauth" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="newpwdauth" data-nav-button-text="Back" data-icon="" data-show-footer="false" id="newpwdauth">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22%22%7D">
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="GetWSUrl" data-width="131px" data-icon="" data-active-icon="" id="changeWebser" data-press="changewspress">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A12px%3Btop%3A332px%3Bz-index%3A10%3Bwidth%3A131px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.apb.SuperList" data-height="57px" data-metadata-file="view/newsl.slmeta" data-width="312px" data-read-rows="1" id="newsl">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22width%3A312px%3Bheight%3A57px%3Boverflow%3Ahidden%3Bposition%3Aabsolute%3Bleft%3A6px%3Btop%3A20px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.TextArea" data-value="" data-width="100%" data-name="" data-placeholder="" data-height="100%" data-wrapping="None" id="myta1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A9px%3Btop%3A122px%3Bz-index%3A10%3Bwidth%3A307px%3Bheight%3A133px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="CallWSwithnewUrl" data-width="164px" data-icon="" data-active-icon="" id="changews2" data-press="changews2press">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A154px%3Btop%3A332px%3Bz-index%3A10%3Bwidth%3A164px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Label" data-text="Note - Url contains the WS parameters" data-text-align="Center" data-width="306px" id="Label1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22left%3A12px%3Btop%3A390px%3Bwidth%3A306px%3Bcolor%3A%23ff2f0f%3Bmin-width%3A16px%3Bmin-height%3A16px%3Bposition%3Aabsolute%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="spl" data-width="" data-icon="" data-active-icon="" id="Button3" data-press="splpressed">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A119px%3Btop%3A274px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>