<template data-controller-name="view.scanbarcode" data-height="" data-view-name="">
	<div data-sap-ui-type="sap.m.Page" data-title="scanbarcode" data-nav-button-text="Back" data-icon="" data-show-footer="false" id="scanbarcode">
		<div data-sap-ui-aggregation="customData">
			<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22%22%7D">
			</div>
		</div>
		<div data-sap-ui-type="sap.m.TextArea" data-value="Position phone camera to display bar code here and push scan button
------------------------------------------------------------------



------------------------------------------------------------------" data-width="100%" data-name="" data-placeholder="" data-height="100%" data-wrapping="None" id="TextArea1">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A15px%3Btop%3A5px%3Bz-index%3A10%3Bwidth%3A291px%3Bheight%3A164px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="Scan" data-width="81px" data-icon="" data-active-icon="" id="scanbutton" data-press="scanpressed">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A42px%3Btop%3A187px%3Bz-index%3A10%3Bwidth%3A81px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="Cancel" data-width="" data-icon="" data-active-icon="" id="Cancelbutton">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A184px%3Btop%3A187px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Label" data-text="Document No is :" id="doclabel">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22min-width%3A16px%3Bmin-height%3A16px%3Bposition%3Aabsolute%3Bleft%3A36px%3Btop%3A272px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="." data-width="102px" data-icon="" data-active-icon="" id="approvebutton" data-press="approved">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A42px%3Btop%3A334px%3Bz-index%3A10%3Bwidth%3A102px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Button" data-text="." data-width="107px" data-icon="" data-active-icon="" id="rejectbutton" data-press="rejected">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22position%3Aabsolute%3Bleft%3A177px%3Btop%3A334px%3Bz-index%3A10%3Bwidth%3A107px%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-type="sap.m.Input" data-value="" data-width="145px" data-name="" data-placeholder="" data-value-state-text="" id="docnoval">
			<div data-sap-ui-aggregation="customData">
				<div data-sap-ui-type="sap.ui.core.CustomData" data-key="style" data-value="%7B%22landscape%22%3A%22overflow%3Ahidden%3Bwidth%3A145px%3Bposition%3Aabsolute%3Bleft%3A158px%3Btop%3A256px%3Bz-index%3A10%3B%22%7D">
				</div>
			</div>
		</div>
		<div data-sap-ui-aggregation="footer">
			<div data-sap-ui-type="sap.m.Bar" id="footerBar">
			</div>
		</div>
	</div>
</template>